page-login {
    .background {
        background-image: url('../assets/imgs/bg_image.jpg') no-repeat;
        background-size: cover;
    }
    .getstart{
        background-image: url('../assets/imgs/bg_image.jpg') !important;
        background-repeat: no-repeat !important;
        background-size:cover !important;
        width:100% !important; height:100% !important;
    }
    .facebook-btn{
        background-color: #6cbd35;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
    }
    .login-btn{
        background-color: #fff;
        border: none;
        color: #6cbd35;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
    }
      
    .content {
        margin: auto;
        text-align: center;
        left: 0;
        position: fixed;
        right: 0;
        z-index: 2;
        padding: 0 10px;
        bottom: 30px;
      }
}
