page-select-type {
	.button-bottom{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: #6cbd35;
        text-align: center;

    }

    ion-card{
        margin:0px; 
    }
    .ion-card-content{
        padding:0px;
    }

    .button{
    background-color: #6cbd35;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px 2px;
    cursor: pointer;
    }
}
