<ion-menu [content]="content">
  <!-- <ion-header>
    <ion-toolbar>
      <ion-item>
        <ion-avatar item-start>
          <img src="{{userData.profilePictureURL}}">
        </ion-avatar>        
        <h2>{{userData.name}}</h2>
        <p>KMUTT</p>
      </ion-item>
    </ion-toolbar>
  </ion-header> -->

  <ion-content>
    <div class="media" text-center>
      <img class="circle-pic" src="{{userData.profilePictureURL}}">
    </div>
    <br>
    <div class="decName" text-center>{{userData.name}}</div>
    <br>

    <ion-list no-lines>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <button menuClose ion-item *ngIf="userData.name" (click)="doLogout()">
        Logout
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>